
*{
    margin: 0;
    padding: 0;
} 



 body{
    background-color: pink;
    min-height: 100vh;
    /* display: grid; */
    /* place-content: center; */

} 


.main-card{
    max-width: 45%;
    background-color: white;
    width: 100%;
    margin: auto;
    inset: 0;
    border-radius: 12px;
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 50px;
}  


#main-content{
    margin: 8px;
}
.main-card img{
width: 100%;
border-radius: 15px;

}  

.information h1{
    color: black;
    padding-top: 25px;
}

 .information p{
    color: hsl(30, 10%, 34%);
        padding-top: 30px;
    padding-bottom: 20px;
}


.pre-time{
    background-color: hsl(30, 54%, 90%);
    padding-top: 10px;
    margin: 10px ;
}
.pre-time h4{
    color: purple;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: 0px;

}

#pre-time2{
    /* margin: 10px; */
    padding-left: 30px;
    padding-bottom: 15px;
}

#ingredients{
    margin: 15px;
}


#ingredients h1{
    color: purple;
    margin-bottom: 10px;

}

#ingre{
    padding-left: 30px;
}

#instructions{
    margin: 15px;

}
#instructions h1{
    color: purple;
    margin-bottom: 10px;
    margin-top: 20px;

}

#inst{
    padding-left: 30px;

}

#inst p{
    color: black;
}


#Nutrition h1{
    padding-top: 10px;
    color: purple;

}


#Nutrition p{
    padding-top: 20px;
    color: hsl(30, 10%, 34%);
}

#Nutrition ul li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 0.5rem 0;
  }
  #Nutrition ul li:last-child{
    border-bottom: none;


  }